<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PetServiceManageServlet</servlet-name>
        <servlet-class>Controller.PetServiceManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetServiceCalendarServlet</servlet-name>
        <servlet-class>Controller.PetServiceCalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetServiceBookingServlet</servlet-name>
        <servlet-class>Controller.PetServiceBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PetServiceServlet</servlet-name>
        <servlet-class>Controller.PetServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCalendarServlet</servlet-name>
        <servlet-class>Controller.DeleteCalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServiceBookingServlet</servlet-name>
        <servlet-class>Controller.CustomerServiceBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchBookedTimeServlet</servlet-name>
        <servlet-class>Controller.FetchBookedTimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetServiceManageServlet</servlet-name>
        <url-pattern>/PetServiceManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetServiceCalendarServlet</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetServiceBookingServlet</servlet-name>
        <url-pattern>/servicebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PetServiceServlet</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCalendarServlet</servlet-name>
        <url-pattern>/DeleteCalendarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServiceBookingServlet</servlet-name>
        <url-pattern>/CustomerServiceBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchBookedTimeServlet</servlet-name>
        <url-pattern>/FetchBookedTimeServlet</url-pattern>
    </servlet-mapping>

</web-app>
